<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.smartcitizens.trafficlights.spotter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <!-- permission required to send traffic-lights spotting upstream -->
    <uses-permission android:name="android.permission.INTERNET"/>    
    <!--  required to get network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>    
    <!--  GPS -->
    <uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />    

    <!-- permission required to store stuff in content provider -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/traffic_light_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        
        <activity 
            android:name =".MainSpotterActivity"
            android:label="@string/home_activity_label">   
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>       	
        </activity>
        
    </application>

</manifest>
